# Configurações FTPS
HOST=sftp1.tribanco.com.br
USER=ftp_edi_supermercadopopular
PASSWORD=lzx5M8vhv@I8D70AGf3zh*

# Configurações do Banco de Dados
DB_HOST=35.188.206.246
DB_USER=mercado
DB_PASSWORD=26829441ed
DB_NAME=banco_mercado
DB_PORT=5432

# Configurações de Diretórios
LOCAL_DIRECTORY=.
GOOGLE_DRIVE_DIRECTORY=G:/Meu Drive/Reports/Maquinetas/integration_conciliacao/processed_files

# Configurações de Log
LOG_LEVEL=INFO
